<header class="main-header">
    <div class="f-col profile-info">
        <img class="profile-image" src="https://igcdn-photos-h-a.akamaihd.net/hphotos-ak-xfa1/t51.2885-15/10899014_328832477310383_1487786474_n.jpg">
        <span class="profile-name">Chee.S</span>
    </div>
    <div class="f-col progress">
        <div class="completed">1/8 tasks completed</div>
        <div class="bar"><span style="width:15%"></span></div>
        <div class="time-left">1D:14H:30M left</div>
    </div>
</header>